$family: unquote("Poppins:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=#{$family}");

$bg-primary: #ffffff;
$bg-primary-dark: #1c1e21;
$bg-secondary: #fdfdfd;
$bg-alt: #f8f8f8;
$border-color: #efefef;
$text-primary: #7d7d7d;
$text-secondary: #949494;
$text-dark: #1d1b1a;
$text-while: #e4e6eb;

$font-family-base: "Poppins", sans-serif;

$border-radius: 5px;
$shadows: 10px 8px 15px 0 rgba(168, 179, 211, 0.24);
